<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LazyFramework" version="2.2.5862.25147" targetFramework="net46" />
  <package id="LazyFramework.EventHandling" version="2.1.5862.25147" targetFramework="net46" />
  <package id="LazyFramework.Logging" version="2.1.5862.25058" targetFramework="net46" />
  <package id="RabbitMQ.Client" version="3.6.0" targetFramework="net46" />
</packages>